/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 14, 2020, 8:45:19 PM
    Author     : AbhinayReddy
*/
.button{
    -fx-font-size: 13px;
    -fx-font-family: calibri;
    -fx-background-color: #195e83;
    -fx-background-radius: 8;
    -fx-text-fill: white;
    -fx-font-weight: Bold;
-fx-font-style: italic;
}
.button:pressed{
    -fx-rotate: 10;
}




